<h1>ADD GENRE PAGE</h1>

<% if(@genre.errors.any?) %>
  <ul>
  <% @genre.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @genre) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>