<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= movie.summary %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= movie.country %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie.genre_id %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director_id %>
  </p>

  <%= render "shared/movie_release_info", movie: movie %>

</div>
