<p style="color: green"><%= notice %></p>

<h1>Director</h1>
<%= render @director %>

<div>
  <%= link_to "Edit this director", edit_director_path(@director) %> |
  <%= link_to "Back to directors", directors_path %>

  <%= button_to "Destroy this director", @director, method: :delete %>
</div>

<h2>Movies</h2>
<%= render partial: "shared/movie_card" %>